<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button class="button" routerLink='/'>Log out</button>
<br>
<h1 class="center">Welcome to CourseBook!</h1>

<div>
	<h2>Creation</h2>
	<button class = "button" routerLink='/create-course'>Create Course</button>
	<button class = "button" routerLink='/create-wish'>Create Wish</button>
</div>

{{ errmsg }}

<div>
	<h2>Course</h2>
	<div id="course_table">
		<div style="width:100%">
			<input type="text" placeholder="Search.." id="searchbox" #search (keyup)="0">
			<button (click)="submitSearch(search.value)"><i class="fa fa-search"></i></button>

			<table style="width:100%">
			  <tr>
			    <th id="name">Course Name</th>
			    <th id="shortdesc">Short Description</th>
			    <th id="author">Author</th>
			    <th id="view">View</th>
			    <th id="delete">Delete</th>
			    <th id="edit">Edit</th>
			  </tr>
	  		  <tr *ngFor="let c of courses">
	      		<td headers="name">{{ c.name }}</td>
	   			<td headers="shortdesc">{{ c.shortDescription }}</td>
	  			<td headers="author">{{ c.author }}</td>
	   			<td headers="view"><button (click)=viewCourse(c._id,c) type="button">View</button></td>
	   			<td headers="delete"><button (click)=deleteCourse(c._id,c) type="button" [hidden]="username!=c.author">Delete</button></td>
	   			<td headers="edit"><button (click)=editCourse(c) type="button" [hidden]="username!=c.author">Edit</button></td>
	 	  	  </tr>
			</table>
		</div>
	</div>
</div>

<div>
	<h2>Wishboard</h2>
	<div id="wish_table">
		<table style="width:100%">
		  <tr>
		    <th id="name">Wish Name</th>
		    <th id="details">Details</th>
		    <th id="wisher">Wisher</th>
		    <th id="complete">Complete</th>
		    <th id="delete">Delete</th>
		    <th id="edit">Edit</th>
		  </tr>
  		  <tr *ngFor="let w of wishes">
      		<td headers="name">{{ w.name }}</td>
   			<td headers="details">{{ w.details }}</td>
  			<td headers="wisher">{{ w.wisher }}</td>
   			<td headers="complete"><button (click)=completeWish(w._id,w) type="button" [hidden]="w.complete==true">Complete</button></td>
   			<td headers="delete"><button (click)=deleteWish(w._id,w) type="button" [hidden]="username!=w.wisher">Delete</button></td>
   			<td headers="edit"><button (click)=editWish(w) type="button" [hidden]="username!=w.wisher">Edit</button></td>
 	  	  </tr>
		</table>
	</div>
</div>